.card {
  &--container {
    min-width: 400px;
  }

  &--image {
    object-fit: cover;
    border-radius: 5px;
    width: inherit;
    height: 30vh;
  }
}

.flex-column {
  button {
    margin: 5px;
  }
}
