@import '../../../../node_modules/bootstrap/scss/bootstrap';

.btn {
  @extend .btn;
  width: 250px;
  height: 50px;

  &--container {
    margin: 20px 0 0 0;
  }
}

.form-group {
  &--container {
    margin-top: 20px;
  }
}

.editor {
  &--container {
    border: 1px solid black;
    padding: 2px;
    min-height: 400px;
    margin-top: 30px;
  }

  &--wrapper {
    overflow: auto;
  }

  &--form-group {
    margin-top: 20px;
  }
}

.container {
  &--override {
    overflow: auto;
  }
}
